In [56]:
import os
os.getcwd()

'/home/aasjp/Downloads/PythonRecipes'

In [3]:
l = [1,2,5,6,7,2,14,17,2,25]
limit = len(l)
remove_multiples(1,l,limit)
print(l)

remElem 2
remElem 3
remElem 4
remElem 5
remElem 6
remElem 7
remElem 8
remElem 9
remElem 10
[1, 2, 14, 17, 2, 25]

In [2]:
def remove_multiples(element, lista, limit):
    multiplier = 2
    while multiplier*element <= limit:
        remElem = multiplier*element
        print(f"remElem {remElem}")
        if multiplier*element in lista:
            lista.remove(multiplier*element)
        multiplier += 1

In [28]:
        lista = [1,5,2,5, 7, 5, 4, 6, 5,67,2]
        mylist = lista.copy()
        mylist.pop(1)
        mylist.remove(2)
        mylist.reverse()
        mylist.sort()
        mylist

[1, 2, 4, 5, 5, 5, 6, 7, 67]

In [46]:
def eratosthenes(max_number):
    lista = list(range(2, max_number))
    index = 0 
    while index < len(lista):
        elem = lista[index]
        remove_multiples(elem, lista, max_number)
        index+=1
    return lista

In [34]:
num1 = [1,2,3,4,5]
if not 4 in num1:
    print("exist")
else:
    print("not exist")

not exist

In [51]:
list(range(1, 50,2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [47]:
eratosthenes(50)

remElem 4
remElem 6
remElem 8
remElem 10
remElem 12
remElem 14
remElem 16
remElem 18
remElem 20
remElem 22
remElem 24
remElem 26
remElem 28
remElem 30
remElem 32
remElem 34
remElem 36
remElem 38
remElem 40
remElem 42
remElem 44
remElem 46
remElem 48
remElem 50
remElem 6
remElem 9
remElem 12
remElem 15
remElem 18
remElem 21
remElem 24
remElem 27
remElem 30
remElem 33
remElem 36
remElem 39
remElem 42
remElem 45
remElem 48
remElem 10
remElem 15
remElem 20
remElem 25
remElem 30
remElem 35
remElem 40
remElem 45
remElem 50
remElem 14
remElem 21
remElem 28
remElem 35
remElem 42
remElem 49
remElem 22
remElem 33
remElem 44
remElem 26
remElem 39
remElem 34
remElem 38
remElem 46

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

# LIST COMPREHENSION

## Below given is the syntax of the list comprehension in Python:

### mylist = [output/expression for item in iterable if condition == True]

#### List comprehension is a single line of code written inside the square brackets. It makes our code shorter and look more pythonic.
We can use list comprehension in Python whenever we want to create a new list or have simple filtering tasks.
We should avoid using list comprehension if we have too many conditions to add for filtering or modifying, as it will make our code more complex and harder to read.

In [6]:
import time
iterations = 10000000
start = time.time()
mylist = []
for i in range(iterations):
    mylist.append(i+1)
end = time.time()
print(end - start)

1.1852893829345703

In [7]:
start = time.time()
mylist = [i+1 for i in range(iterations)]
end = time.time()
print(end - start)

0.7155506610870361

In [9]:
#mylist

### List comprehensions are faster than for loops to create lists.

In [11]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for planet in planets:
    print(planet,end=' ') # print all on same line

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune

In [10]:
multiplicands = (2, 2, 2, 3, 3, 5)
product = 1
for mult in multiplicands:
    product = product * mult
product

360

In [12]:
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
msg = ''
# print all the uppercase letters in s, one at a time
for char in s:
    if char.isupper():
        print(char, end='')

HELLO

In [13]:
for i in range(5):
    print("Doing important work. i =", i) #range() is a function that returns a sequence of numbers. It turns out to be very useful for writing loops.

Doing important work. i = 0
Doing important work. i = 1
Doing important work. i = 2
Doing important work. i = 3
Doing important work. i = 4

In [14]:
i = 0
while i < 10:
    print(i, end=' ')
    i += 1 # increase the value of i by 1

0 1 2 3 4 5 6 7 8 9

In [15]:
squares = [n**2 for n in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [16]:
# Here's how we would do the same thing without a list comprehension:
squares = []
for n in range(10):
    squares.append(n**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
short_planets = [planet for planet in planets if len(planet) < 6] # we can also if condition to the List comprehension
short_planets

['Venus', 'Earth', 'Mars']

In [18]:
# str.upper() returns an all-caps version of a string
loud_short_planets = [planet.upper() + '!' for planet in planets if len(planet) < 7]
loud_short_planets

['VENUS!', 'EARTH!', 'MARS!', 'SATURN!', 'URANUS!']

In [19]:
# you might find the structure clearer when it's split up over 3 lines:
[
    planet.upper() + '!' 
    for planet in planets 
    if len(planet) < 6
]

['VENUS!', 'EARTH!', 'MARS!']

In [21]:
# FOR Loop version
def count_negatives(nums):
    """Return the number of negative numbers in the given list.
    
       count_negatives([5, -1, -2, 0, 3])
    2
    """
    n_negative = 0
    for num in nums:
        if num < 0:
            n_negative = n_negative + 1
    return n_negative

count_negatives([5, -1, -2, 0, 1,5,3, -11,100])

3

In [22]:
# LIST COMPREHENSION version
def count_negatives(nums):
    return len([num for num in nums if num < 0])
count_negatives([5, -1, -2, 0, 3])

2

In [23]:
f_list =[[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]

In [24]:
#Step 1:

new_l=[]
for sublist in f_list:
    for subsublist in sublist:
        [new_l.append(i) for i in subsublist]

new_l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
#Step 2:

new_l=[]
for sublist in f_list:
    [new_l.append(i) for subsublist in sublist for i in subsublist]
    
new_l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
#Step 3:

new_l = []
[ new_l.append(i) for sublist in f_list 
  for subsublist in sublist 
  for i in subsublist]
new_l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
# finally 
new_l = [i for sublist in f_list for subsublist in sublist for i in subsublist]

In [29]:
new_l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
def simplest_list_comp(ls):
    #for nested list
    ls1 = [[i for i in j] for j in ls]
    print("Nested list: ",ls)
    #for normal list
    ls2 = [j for i in ls for j in i]
    print("Normal list: ",ls2)

simplest_list_comp([[1,5,6,7],[8,9,10],[11,12]])

Nested list:  [[1, 5, 6, 7], [8, 9, 10], [11, 12]]
Normal list:  [1, 5, 6, 7, 8, 9, 10, 11, 12]

## Using Conditional Logic in List Comprehensions

In [41]:
def nested_if_else(ls):
    #nested if else condition
    result = [a+10 if a<30 else a+5 for a in ls]
    
    print("Our result is: ",result)

#driver code
nested_if_else([21,22,23,65,115,415])

Our result is:  [31, 32, 33, 70, 120, 420]

In [39]:
def nested_if_else(ls):
    result = []
    for a in ls:
        if a < 10:
            result.append(a+10)
        else:
            result.append(a+5)
    print("Our result is: ",result)

#driver code
nested_if_else([1,2,3,45,95,395])

Our result is:  [11, 12, 13, 50, 100, 400]

In [43]:
def nested_if_else(ls):
    #nested if else condition
    result = [a*2 if a<10 else a**2 if not a%2 else  a+5 for a in ls]
    
    print("Our result is: ",result)

#driver code
nested_if_else([1,2,3,20,45,95,395])

Our result is:  [2, 4, 6, 400, 50, 100, 400]

## Using the Walrus Operator in List Comprehensions
#### Python 3.8 introduced the walrus operator, which allowed us to accomplish two tasks at the same time: assigning a value to a variable returning the value at the same time It sometimes leads to shorter, more readable code, which is also more computationally efficient.

Syntax: Walrus operator is popularly known by the symbol 
 ":=". Below given is the syntax for the walrus operator:

In [44]:
import random
def record_year():
    return random.randrange(2000, 2020)


def walrus():
    #nested if else condition
    records = [rec for i in range(10) if (rec := record_year()) >= 2010]
    print(records)

#driver code
walrus()

[2012, 2017, 2012, 2010, 2013]

In [45]:
#Transpose of a matrix in Python
def transpose(A):
    
    output = [[A[j][i] for j in range(len(A))] for i in range(len(A[0]))]

    for i in output:
       print(i)
       
       
transpose([[1,2],[3,4],[5,6]])

[1, 3, 5]
[2, 4, 6]

In [46]:
def transpose(A):
    result = [[0,0,0],
         [0,0,0]]
    for i in range(len(A)):
        for j in range(len(A[0])):
            result[j][i] = A[i][j]
    for i in result:
       print(i)
       
       
transpose([[1,2],[3,4],[5,6]])

[1, 3, 5]
[2, 4, 6]

In [47]:
for i  in [19, 20, 21,22,23,24,25]:
    if i < 22:
        continue
    else :
        print(i)

22
23
24
25

In [48]:
def string_times(str, n):
    return str * n
    
string_times("bangalore",3)

'bangalorebangalorebangalore'

In [50]:
def array_count9(nums):
    j=0
    for i in nums:
      if i == 9:
        j= j+1
    return j
    
p = array_count9([18,9,3,5,9,12,56,9,23,0])
print(p)

3

In [51]:
[18,9,3,5,9,12,56,9,23,0].count(9)

3

In [52]:
l=[9,5,3]
l*3

[9, 5, 3, 9, 5, 3, 9, 5, 3]

In [53]:
s = {1,2,5,8,}
len(s)

4

In [54]:
type(s)

set

In [55]:
s = {1,2,1,5}
print(s)

{1, 2, 5}

In [56]:
s2 = {2,1,5}

In [57]:
s2 == s

True

In [58]:
s3 = {1,2,5}

In [59]:
s3 == s

True

In [60]:
len(s2)

3

In [61]:
s4={}
len(s4)

0

In [1]:
from test1 import sqr,welcome,cub

In [2]:
welcome()

Welcome to Python classes

In [3]:
sqr(5)

25

In [4]:
sqr("TESTING")

Cannot compute for non numeric values, please pass numbers

In [5]:
a = list(range(9,100))
a

[9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]